body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    color: var(--text-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body > header {
    display: flex;
    flex-direction: row;
    height: 80px;
    border-bottom: 2px solid red;
    padding: 0 1rem;
}

.app-branding {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    height: 100%;
}

.app-branding a {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: var(--text-primary);
}

.app-branding img {
    display: block;
    height: 60px;
    width: 60px;
}



.video-recorder {
    position: relative;
}

.media-preview-wrapper {
    position: relative;
    background: black;
    width: 640px;
    height: 360px;
}

.media-preview-wrapper video {
    width: 100%;
    height: 360px;
}

.select-media {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
}

.btn-select-media {
    text-decoration: none;
}
