:root {
    --text-primary: #001937;
    --text-blue2: #0a99ff;
    --dark-primary: #001937;
    --blue-primary: #0082FE;
    --yellow-primary: #FFCD55;
    --gray-1: #f4f4f4;
    --gray-2: #e2e2e2;
    --gray-b1: #b1b1b1;
    --gray-d1: #d1d1d1;
    --gray-d6: #d6d6d6;
    --gray-e2: #e2e2e2;
    --gray-e3: #e3e3e3;
    --gray-3: #b1b1b1;
    --gray-4: #919191;
    --gray-70: #707070;
    --salary: #0095ff;
    --size-d12: 0.75rem;
    --size-d13: 0.8125rem;
    --size-d14: 0.875rem;
    --size-d15: 0.9375rem;
    --size-d18: 1.125rem;
    --size-d20: 1.25rem;
    --size-d26: 1.625rem;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    color: var(--text-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body > header {
    display: flex;
    flex-direction: row;
    height: 80px;
    border-bottom: 2px solid red;
    padding: 0 1rem;
}

.app-branding {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    height: 100%;
}

.app-branding a {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: var(--text-primary);
}

.app-branding img {
    display: block;
    height: 60px;
    width: 60px;
}



.video-recorder {
    position: relative;
}

.video-recorder video {
    background: black;
    width: 640px;
    height: 360px;
}

.select-media {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.btn-select-media {

    color: white;
    background: #001937;
}
