:root {
    --text-primary: #001937;
    --dark-primary: #001937;
    --blue-primary: #318ed1;
    --size-d12: 0.75rem;
    --size-d13: 0.8125rem;
    --size-d14: 0.875rem;
    --size-d15: 0.9375rem;
    --size-d18: 1.125rem;
    --size-d20: 1.25rem;
    --size-d26: 1.625rem;
    --video-width: 1280px;
    --video-thumb-width: 400px;
    --video-editor-player-width: 640px;
    --video-views-color: #515a5a;
    --header-height: 80px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.button-37 {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-37:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

body {
    padding: 0;
    margin: 0;
    font-family: Jost, sans-serif;
    font-size: 100%;
    color: var(--text-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #eef1f3;
}

body > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--header-height);
    border-bottom: 2px solid red;
    padding: 0 1rem;
    background: white;
    box-shadow: 0 0 4px 0 rgba(130, 130, 138, 1);
    position: sticky;
    top: 0;
    z-index: 999;
}

body > footer {
    color: #3d546e;
    background: white;
    padding: 2rem 4rem;
}

main {
    border-bottom: 2px solid gray;
    padding-bottom: 2rem;
}

main > .block {
    padding: 2rem;
}

@media screen and (min-width: 1200px) {
    main > .block {
        padding: 2rem 6rem;
    }
}

.app-branding {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    height: 100%;
}

.app-branding a {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #1e3764;
}

.app-branding img {
    display: block;
    height: 60px;
    width: 60px;
}

nav.account {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

nav.account a {
    display: block;
    color: #322525;
    font-size: var(--size-d13);
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

nav.account a:hover {
    color: var(--blue-primary);
}

nav.account .user {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: white;
    font-size: var(--size-d14);
    background: var(--blue-primary);
    padding: 0.3rem 0.5rem;
    border-radius: 12px;
}

nav.account .user i {
    font-size: var(--size-d20);
}

nav.account .btn-logout {
    font-size: var(--size-d26);
}


.page-error404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - var(--header-height));
}

.page-error404 h2 {
    font-size: 4rem;
    font-weight: normal;
}


/*
    Login & singup
*/

.page-singup,
.page-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(/resources/images/camera-3762055.webp) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.page-singup .page-title,
.page-login .page-title {
    color: white;
    font-weight: 500;
    text-align: center;
    margin: 2rem 0;
}

.page-login .app-branding,
.page-singup .app-branding {
    height: 80px;
    font-size: 3rem;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}

.form-auth-card a,
.page-login .app-branding a {
    color: white;
}


.form-auth-card {
    color: white;
    background: rgba(0, 52, 89, 1);
    background: linear-gradient(to top, rgba(0, 52, 89, 1) 0%, rgba(0, 168, 232, 1) 92%);
    box-shadow: 0 0 18px 0 rgba(0, 168, 232, 1);
    padding: 2rem;
    border-radius: 30px;
}

.form-auth-card .no-account {
    text-align: center;
}

.form-auth-card form .row,
.form-auth-card form {
    display: flex;
    flex-direction: column;}

.form-auth-card form {
    gap: 1rem;
    padding: 2rem;
}

.form-auth-card label {
    font-size: var(--size-d14);
}

.form-auth-card input[type=text],
.form-auth-card input[type=email],
.form-auth-card input[type=password] {
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: var(--size-d14);
    line-height: 1.2rem;
    padding: 0.4rem;
}

.form-auth-card input[type=text]:focus,
.form-auth-card input[type=password]:focus,
.form-auth-card input[type=email]:focus {
    border-color: goldenrod;
    outline-color: goldenrod;
}

.form-auth-card .error-message {
    color: white;
    background: #911448;
    padding: 1rem;
    text-align: center;
}

.form-auth-card .btn-submit {
    align-items: center;
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    background-image: linear-gradient(144deg, #00c4ff, #5B42F3 50%, #00b3bf);
}

.form-auth-card .btn-submit:hover {
    box-shadow: rgba(255, 254, 252, 0.3) 0 15px 30px -5px;
}



.video-welcome {
    color: white;
    width: 840px;
    position: relative;
}

.video-welcome h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.8rem;
    font-weight: 500;
    text-shadow: 0 0 1.8rem rgba(255, 254, 252, 1);
    text-align: center;
}

.video-welcome .message {
    color: white;
    font-size: var(--size-d18);
    text-align: center;
    margin: 2rem 0;
}

.video-welcome .message a {
    color: #efe8dc;
    font-weight: 500;
}


.video-recorder {
    display: flex;
    gap: 10rem;
    position: relative;
    padding: 4rem 6em;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0, 52, 89, 1) 0%, rgba(0, 168, 232, 1) 90%);
    border-bottom: 2px solid rgba(0, 168, 232, 1);
}

.media-preview-wrapper {
    position: relative;
    background: black;
    width: 640px;
    height: 360px;
    box-shadow: 0 0 18px 0 rgba(0, 168, 232, 1);
    border-radius: 8px;
    overflow: hidden;
}

.media-preview-wrapper video {
    width: 100%;
    height: 360px;
}

.select-media {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
}

.btn-select-media {
    text-decoration: none;
}

.media-controls {
    color: white;
    background: rgb(170,169,169);
    background: linear-gradient(180deg, rgba(170,169,169,0.5) 0%, rgba(124,124,124,0.5) 50%, rgba(55,55,55,0.5) 100%);
    font-size: var(--size-d14);
    font-weight: 500;
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.control-button {
    position: relative;
    width: 60px;
    height: 100%;
}

.control-button #btnRec {
    display: none;
}

.media-controls #btnRec + label:before {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 48px;
    height: 48px;
    margin: -20px -20px;
    content: "";
    transform: translate(-6px, -6px);
    background: rgba(255,255,255,0.8);
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.media-controls #btnRec + label:after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 48px;
    height: 48px;
    margin: -24px -24px;
    content: "";
    border-radius: 50px;
    background: #e80415;
    cursor: pointer;
}

.media-controls #btnRec:checked + label:before {
    background: #e80415;
    opacity: 0.75;
}

.media-controls #btnRec:checked + label:after {
    animation: stop 0.5s infinite cubic-bezier(0.4, -0.9, 0.9, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.media-controls .recording-time {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    width: 150px;
}

@keyframes stop {
    100% {
        border-radius: 6px;
        left: 50%;
        top: 50%;
        width: 26px;
        height: 26px;
        margin: -13px -13px;
        background: white;
    }
}

.media-controls .recording-info {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0 1rem;
    width: 150px;
}

.media-controls .recdot {
    display: block;
    padding: 0.3rem;
    background: #e80415;
    border-radius: 50%;
    border: 1px solid #e80415;
    animation: blink 2s infinite;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.video-recorder .new-video {
    background: #00547c;
    border-radius: 8px;
    padding: 1rem 2rem;
    margin-top: 3rem;
}

.video-recorder-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.btn-action {
    align-items: center;
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.btn-action:hover {
    box-shadow: rgba(255, 254, 252, 0.3) 0 15px 30px -5px;
}

.btn-upload {
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%, #00b3bf);
}

.btn-download {
    background-image: linear-gradient(to bottom right, #fcd34d, #950a0a, #ec4899);
}

.uploading {
    max-width: 500px;
    width: 100%;
    margin: 0 auto 2rem;
    border-radius: 10px;
    border: 4px solid transparent;
    position: relative;
    padding: 1px;
}
.uploading:before {
    content: '';
    border: 1px solid #fff;
    border-radius: 10px;
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
}
.uploading .uploadingBar {
    position:absolute;
    border-radius: 10px;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 0;
    animation: borealisBar 2s linear infinite;
}

@keyframes borealisBar {
    0% {
        left:0%;
        right:100%;
        width:0%;
    }
    10% {
        left:0%;
        right:75%;
        width:25%;
    }
    90% {
        right:0%;
        left:75%;
        width:25%;
    }
    100% {
        left:100%;
        right:0%;
        width:0%;
    }
}



.btn-back {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #38464c;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    margin: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    touch-action: manipulation;
    text-decoration: none;
}

.btn-back:hover {
    box-shadow: 0 0 5px 0 rgba(176, 176, 176, 1);
}

.block .title,
.page-title {
    color: #29415e;
    letter-spacing: 0.1rem;
}

.video-list,
.library .items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.video-list a,
.library .items a {
    display: block;
    color: var(--text-primary);
    text-decoration: none;
    width: var(--video-thumb-width);
    transition: all 0.15s ease-in;
}

.library .items a {
    padding: 8px;
}

.library .items a:hover {
    background: #f6fafb;
    box-shadow: 0 0 5px 0 rgba(176, 176, 176, 1);
}

.video-list .title,
.library .items .title {
    color: var(--text-primary);
    margin: 1rem 0 0.5rem;
    text-overflow: ellipsis;
    width: 100%;
    max-height: 4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.video-list .title {
    font-weight: 500;
    margin: 0.5rem 0;
    line-height: 1.6rem;
}

.video-list .video-thumb {
    display: block;
    position: relative;
    width: var(--video-thumb-width);
    height: calc(var(--video-thumb-width)/16*9);
}

.video-list .views {
    font-size: var(--size-d13);
    font-weight: 500;
    color: var(--video-views-color);
    display: flex;
    gap: 0.5rem;
}

.library .items .views {
    margin-bottom: 1rem;
}

.video-list .empty-list {
    color: #001937;
    font-size: var(--size-d18);
    font-style: italic;
}

.library .video-thumb {
    width: calc(var(--video-thumb-width) - 16px);
    height: calc((var(--video-thumb-width) - 16px)/16*9);
}

.video-list .video-thumb img,
.library .video-thumb img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.video-list .video-thumb .duration,
.library .video-thumb .duration {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    font-weight: bold;
    font-size: var(--size-d14);
    padding: 0 0.3rem;
    background: rgba(0, 0, 0, 0.7);
}

.library .items .attrs {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.library .items .visibility {
    text-transform: uppercase;
    font-size: var(--size-d13);
    font-weight: 500;
    padding: 0.15rem 0.3rem;
}

.library .visibility.private {
    color: white;
    background: #858585;
}

.library .visibility.protected {
    color: white;
    background: #bf6311;
}

.library .visibility.public {
    color: white;
    background: #5e9b11;
}

.library .items .res_codec {
    color: gray;
    font-size: var(--size-d13);
}

.library .items .codec {
    text-transform: uppercase;
}


/* Video editor */
.video-editor {
    display: flex;
    gap: 2rem;
}

.video-editor .player {
    width: var(--video-editor-player-width);
}

.video-editor .player video {
    width: var(--video-editor-player-width);
    height: calc(var(--video-editor-player-width)/16*9);
}

.video-editor .video-info {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.video-editor .video-info .res_codec {
    display: flex;
    flex-direction: column;
}

.video-editor .video-info,
.video-form {
    background: #e4e7eb;
    padding: 2rem;
}

.video-editor .video-info {
    padding: 1rem;
}

.video-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.video-form .row {
    display: flex;
    flex-direction: column;
}

.video-form .row label {
    font-weight: 500;
    font-size: var(--size-d14);
}

.video-form .row .tip {
    color: #686868;
    margin: 0;
    font-size: var(--size-d13);
    font-weight: 500;
}

.video-form input[type=text] {
    min-width: 500px;
}

.video-form textarea,
.video-form input[type=text] {
    border: 2px solid #83888f;
    font-family: sans-serif;
    font-size: var(--size-d14);
    line-height: 1.2rem;
    padding: 0.4rem;
}

/* Published switch */
.video-editor .published {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.video-editor .published input {
    opacity: 0;
    width: 0;
    height: 0;
}

.video-editor .published .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.video-editor .published .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

.video-editor .published input:checked + .slider {
    background-color: #2196F3;
}

.video-editor .published input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.video-editor .published input:checked + .slider:before {
    transform: translateX(26px);
}

.video-editor .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.video-editor .results {
    font-style: italic;
    font-size: var(--size-d14);
    font-weight: 500;
    margin: 0;
}

.video-editor .results.success {
    color: #2c7207;
}

.video-editor .results.error {
    color: red;
}

.video-editor .btn-save {
    background-color: #1652F0;
    border: 1px solid #1652F0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.15;
    overflow: visible;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: all 80ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
}

.video-editor .btn-save:disabled {
    opacity: .5;
}

.video-editor .btn-save:focus {
    outline: 0;
}

.video-editor .btn-save:hover {
    box-shadow: 0 0 5px 0 rgba(176, 176, 176, 1);
}

.video-editor .btn-save:active {
    box-shadow: 0 0 10px 0 rgba(176, 176, 176, 1);
}



/* Page video */

.player-box {
    width: 100%;
    height: auto;
}

.player-box .title {
    font-weight: 500;
    margin: 1rem 0;
    line-height: 1.6rem;
}

.player-box .description {
    color: #3d546e;
}

.player-box .views {
    color: var(--video-views-color);
    display: flex;
    gap: 1rem;
}

.page-video .player,
.page-video .player video {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 1260px) {
    .player-box,
    .page-video .player {
        width: calc(var(--video-width) - 200px);
    }

    .page-video .player video {
        width: calc(var(--video-width) - 200px);
        height: calc((var(--video-width) - 200px) /16*9);
    }
}

@media screen and (min-width: 1600px) {
    .player-box,
    .page-video .player {
        width: var(--video-width);
    }

    .page-video .player video {
        width: var(--video-width);
        height: calc(var(--video-width)/16*9);
    }
}
