{% extends "layout.html.twig" %}

{% block body %}
    <header>
        {{ include("partial/appbranding.html.twig") }}
        <div class="account">
            {% if not authenticated() %}
                <a href="{{ url_for('login') }}">Zaloguj się</a>
            {% else %}
                <span class="username">Witaj {{ username() }}!</span>
                <a href="{{ url_for('logout') }}">Wyloguj</a>
            {% endif %}
        </div>
    </header>
    <main>{% block content %}{% endblock %}</main>
    {% block template %}{% endblock %}
{% endblock %}
