{% extends "app.layout.html.twig" %}

{% block content %}
    <section class="video-recorder">
        <div class="media-preview-wrapper"
             data-apiupload="{{ url_for('upload_blob') }}"
             {% if authenticated() %}data-auth="true"{% endif %}>
            <video id="mediaPreview" autoplay loop muted poster="/images/loss-signal-poster.webp">
                <source src="/video/loss-signal.webm" type="video/webm">
            </video>
        </div>
        <div class="video-welcome">
            <h1>Nagraj swój pulpit i poślij go w chmurkę!</h1>
            {% if not authenticated() %}
            <p class="message"><a href="{{ url_for('singup') }}">Załóż darmowe konto</a> aby zachować swoje nagranie.</p>
            {% endif %}
        </div>
    </section>

    {% include 'partial/videolist.html.twig' with {'title': 'Najnowsze', 'entities': recent} %}
    {% include 'partial/videolist.html.twig' with {'title': 'Popularne', 'entities': popular} %}

{% endblock %}

{% block template %}
    <template id="tmplSelectMedia">
        <div class="select-media">
            <a href="#select-media" class="button-37 btn-select-media">Wybierz żródło wideo</a>
        </div>
    </template>

    <template id="tmplMediaControls">
        <div class="media-controls">
            <div class="recording-info"></div>
            <div class="control-button">
                <input id="btnRec" type="checkbox" />
                <label for="btnRec"></label>
            </div>
            <div class="recording-time">
                <time id="elapsed">00:00</time>
            </div>
        </div>
    </template>

    <template id="tmplRecordingInfo">
        <i class="recdot"></i><span>NAGRYWANIE</span>
    </template>

    <template id="tmplRecordingInfoStop">
        <span>ZATRZYMANO</span>
    </template>

    <template id="tmplNewVideo">
        <div class="new-video">
            <p class="message">Nagrano nowe wideo!</p>
            <div class="video-recorder-actions"></div>
        </div>
    </template>

    <template id="tmplUploadingBar">
        <div class="new-video">
            <p class="message">Wysyłanie wideo do biblioteki</p>
            <div class="uploading">
                <div class="uploadingBar"></div>
            </div>
        </div>
    </template>

{% endblock %}

{% block bodyscripts %}
    <script type="module" src="/js/recorder/app.js"></script>
{% endblock %}
