<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>{% block sitetitle %}{{ APP_NAME }}{% endblock %}</title>
        <meta name="description" content="{{ APP_DESCRIPTION }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/images/logo.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/images/logo.svg">
        <link rel="stylesheet" href="/css/root.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/assets/fontawesome-free-6.1.2-web/css/all.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Pacifico&display=swap" rel="stylesheet">
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block bodyscripts %}{% endblock %}
    </body>
</html>
