{% extends "layout.html.twig" %}

{% block sitetitle %}Logowanie{% endblock %}

{% block body %}
    <div class="page-login">
        <div class="form-auth-card">
            {{ include("partial/appbranding.html.twig") }}
            <h1 class="page-title">Logowanie</h1>
            <p class="no-account">
                Nie masz konta? <a href="{{ url_for('singup') }}">Załóż nowe konto</a>
            </p>
            <form class="login" method="post" action="{{ url_for('login_submit') }}">
                {% if error %}
                    <p class="error-message">{{ error }}</p>
                {% endif %}
                <div class="row">
                    <label for="email">Adres e-mail</label>
                    <input id="email" type="email" maxlength="128" required name="email"/>
                </div>
                <div class="row">
                    <label for="password">Hasło</label>
                    <input id="password" type="password" maxlength="128" required name="password"/>
                </div>
                <div class="row">
                    <input type="submit" class="btn-submit" value="Zaloguj"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
