{% extends "app.layout.html.twig" %}

{% block content %}
    <div class="block page-video">
        <div class="player-box">
            <div class="player">
                <video id="htmlplayer" controls
                       data-vid="{{ video.slug }}"
                       data-apirv="{{ url_for('register_view', {'video_slug' : video.slug}) }}">
                    <source src="{{ url_for('stream_video', {'video_slug' : video.slug}) }}" type="video/webm">
                </video>
            </div>
            <h2 class="title">{{ video.title }}</h2>
        </div>
    </div>
{% endblock %}

{% block bodyscripts %}
    <script type="module" src="/js/player.js"></script>
{% endblock %}
