{% extends "layout.html.twig" %}

{% block sitetitle %}Utwórz nowe konto{% endblock %}

{% block body %}
    <div class="page-singup">
        <div class="form-auth-card">
            {{ include("partial/appbranding.html.twig") }}
            <h1 class="page-title">Utwórz nowe konto</h1>
            <form class="login singup" method="post" action="{{ url_for('singup_submit') }}">
                {% if error %}
                    <p class="error-message">{{ error }}</p>
                {% endif %}
                <div class="row">
                    <label for="email">Adres e-mail</label>
                    <input id="email" type="email" maxlength="128" required name="email"/>
                </div>
                <div class="row">
                    <label for="password">Hasło</label>
                    <input id="password" type="password" maxlength="128" required name="password"/>
                </div>
                <div class="row">
                    <label for="passwordRepeat">Powtórz hasło</label>
                    <input id="passwordRepeat" type="password" maxlength="128" required name="password_repeat"/>
                </div>
                <div class="row">
                    <input type="submit" class="btn-submit" value="Załóż konto"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
