{% extends "app.layout.html.twig" %}

{% block content %}
    <div>
        <video autoplay loop>
            <source src="{{ url_for('stream_video', {'video_slug' : video_slug}) }}" type="video/webm">
        </video>
    </div>
{% endblock %}
