{% extends "app.layout.html.twig" %}

{% block content %}
    <div>
        <video autoplay loop controls style="width: 640px">
            <source src="{{ url_for('stream_video', {'video_slug' : video.slug}) }}" type="video/webm">
        </video>
    </div>
{% endblock %}
